html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

@font-face {
  font-family: 'Trade Gothic Bold Condensed';
  font-display: block;
  src: url('/assets/TradeGothicBoldCondensed.woff') format("woff"), url('/assets/TradeGothicBoldCondensed.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Standard Book';
  font-display: block;
  src: url('/assets/CircularStandardBook.woff') format("woff"), url('/assets/CircularStandardBook.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Standard Bold';
  font-display: block;
  src: url('/assets/CircularStandardBold.woff') format("woff"), url('/assets/CircularStandardBold.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display Regular Italic';
  font-display: block;
  src: url('/assets/PlayfairDisplayRegularItalic.woff') format("woff"), url('/assets/PlayfairDisplayRegularItalic.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

html {
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  font-family: 'Circular Standard Book', Arial, sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Trade Gothic Bold Condensed', Arial, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  margin: 0;
}

a {
  font-family: 'Circular Standard Book', Arial, sans-serif;
  color: rgb(0, 0, 0);
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

input,
a:hover,
a:focus {
  color: rgb(0, 0, 0);
}

img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

label {
  font-family: 'Circular Standard Bold', Arial, sans-serif;
  color: rgb(0, 0, 0);
}

a,
label,
button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

ul,
p,
form,
blockquote,
dl,
dd {
  margin: 0;
}

.aClfE {
  position: relative;
  z-index: 0;
  width: 100%;
  background-color: rgb(51, 67, 91);
  color: rgb(255, 255, 255);
  padding: 20px 35px 20px 20px;
}

.isHidden {
  display: none;
  visibility: hidden;
}

.demtnt {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
}

@media (min-width: 47.94rem) {
  .demtnt {
      flex-flow: row;
  }
}

@media (min-width: 767px) {
  .demtnt {
    -webkit-box-align: center;
    align-items: center;
  }
}

.eHRSKv {
  font-size: 12px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  flex: 1 1 auto;
}

.eHRSKv a {
  color: rgb(255, 255, 255);
}

@media (min-width: 360px) {
  .eHRSKv {
    font-size: 14px;
    line-height: 21px;
  }
}

@media (min-width: 969px) {
  .eHRSKv {
    font-size: 16px;
    line-height: 24px;
  }
}

.lhJskG {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    align-items: baseline;
    font-family: "Trade Gothic Bold Condensed", Arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    display: inline-flex;
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 20px;
    padding: 5px 25px 2.5px;
}


@media (min-width: 969px) {
  .lhJskG {
      padding: 13px 35px 9.5px;
  }
}

@media (min-width: 767px) {
  .lhJskG {
      font-size: 16px;
      padding: 10px 30px 7.5px;
      margin-bottom: 15px;
  }
}

@media (min-width: 1140px) {
  .lhJskG {
      font-size: 18px;
  }
}


.gXQfFP {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 1140px;
  margin: 0px auto;
}

.iLqWhu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: baseline;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-family: 'Trade Gothic Bold Condensed', Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 12px 25px 8px;
  color: rgb(255, 255, 255);
  background-color: rgb(222, 26, 66);
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-text-decoration: none;
  text-decoration: none;
}

@media (min-width:767px) {
  .iLqWhu {
      font-size: 16px;
      padding: 13px 25px 10px;
  }
}

@media (min-width:1140px) {
  .iLqWhu {
      font-size: 18px;
  }
}

.iLqWhu svg {
  fill: rgb(255, 255, 255);
}

.iLqWhu:hover,
.iLqWhu:focus {
  color: rgb(255, 255, 255);
  -webkit-text-decoration: none;
  text-decoration: none;
}

.hzoiba {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  position: relative;
  min-height: 100vh;
  background-color: rgb(247, 247, 247);
}

.cfXscD {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: 5px;
}

.kesQvz {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: baseline;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-family: 'Trade Gothic Bold Condensed', Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 12px 25px 8px;
  color: rgb(255, 255, 255);
  background-color: rgb(222, 26, 66);
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-text-decoration: none;
  text-decoration: none;
  position: absolute;
  top: -100%;
  left: 20px;
  max-width: calc(100% - 15px);
  z-index: 2;
}

@media (min-width:767px) {
  .kesQvz {
      font-size: 16px;
      padding: 13px 25px 10px;
  }
}

@media (min-width:1140px) {
  .kesQvz {
      font-size: 18px;
  }
}

.kesQvz svg {
  fill: rgb(255, 255, 255);
}

.kesQvz:hover,
.kesQvz:focus {
  color: rgb(255, 255, 255);
  -webkit-text-decoration: none;
  text-decoration: none;
}

.kesQvz:active,
.kesQvz:focus {
  top: 20px;
}

.gLwdph {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  -webkit-clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px, 1px, 1px, 1px);
}


.jrnPGa {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 10px 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 255, 255);
}


@media (min-width:767px) {
  .jrnPGa {
    padding: 20px;
  }
}

.kIPwfu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
}

.hxYnsX {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  justify-items: flex-start;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cOoWIU {
  max-width: 50px;
}

@media (min-width:767px) {
  .cOoWIU {
      max-width: 78px;
  }
}

.jpzDdy {
  font-family: 'Trade Gothic Bold Condensed', Arial, sans-serif;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-text-decoration: none;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: rgb(222, 26, 66);
  justify-self: flex-end;
}

@media (min-width:969px) {
  .jpzDdy {
      font-size: 16px;
  }
}

.jpzDdy > span {
  margin-right: 5px;
}

.jpzDdy:hover,
.jpzDdy:focus {
  color: rgb(222, 26, 66);
}

.hdXiZC {
  padding: 0;
  list-style: none;
}

.gZhmjc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.bLqPyB {
  max-width: 50px;
}

@media (min-width:969px) {
  .bLqPyB {
      max-width: 60px;
  }
}

.eQXywA {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 1140px;
}

.kZUWSU {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}

@media (min-width:969px) {
  .kZUWSU {
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      flex-flow: row;
  }
}

.fnNsKJ {
  text-align: right;
  margin: 7px 0;
}

@media (min-width:969px) {
  .fnNsKJ {
      margin: 0 0 0 30px;
  }
  .fnNsKJ:first-child {
      margin: 0;
  }
}

.eMtnkF {
  font-family: 'Trade Gothic Bold Condensed', Arial, sans-serif;
  -webkit-text-decoration: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.43;
}

.jvQAsZ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 30px;
}

@media (min-width:969px) {
  .jvQAsZ {
      padding-top: 50px;
  }
}

.erUecw {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 100%;
  margin-bottom: 30px;
}

@media (min-width:969px) {
  .erUecw {
      max-width: 1180px;
      padding: 0 20px;
      margin-bottom: 50px;
  }
}

.hETRCi {
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  margin-bottom: 8px;
  padding: 0 20px;
}

@media (min-width:360px) {
  .hETRCi {
      font-size: 24px;
      line-height: 32px;
  }
}

@media (min-width:767px) {
  .hETRCi {
      font-size: 26px;
  }
}

@media (min-width:969px) {
  .hETRCi {
      font-size: 28px;
  }
}

@media (min-width:1140px) {
  .hETRCi {
      font-size: 30px;
  }
}

@media (min-width:767px) {
  .hETRCi {
      margin-bottom: 12px;
  }
}

@media (min-width:969px) {
  .hETRCi {
      padding: 0;
  }
}

@media (min-width:1140px) {
  .hETRCi {
      margin-bottom: 16px;
  }
}

.dSIRUt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: space-between;
  align-content: space-between;
  padding: 0 20px;
}

@media (min-width:767px) {
  .dSIRUt {
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      flex-flow: row;
  }
}

@media (min-width:969px) {
  .dSIRUt {
      padding: 0;
  }
}

.frcaLi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 30px;
}

.frcaLi:last-child {
  margin-right: 0;
}

.kCQMHc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgb(247, 247, 247);
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 8px;
  max-width: 555px;
}

.kCQMHc:last-child {
  margin-bottom: 0;
}

@media (min-width:767px) {
  .kCQMHc {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
  }
}

.articleContainer{
  display: flex;
  flex-flow: row wrap;
}

.kuEObg {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  padding: 12px;
}

@media (min-width:360px) {
  .kuEObg {
      padding: 17px;
  }
}

@media (min-width:767px) {
  .kuEObg {
      padding: 20px;
  }
}

@media (min-width:1140px) {
  .kuEObg {
      padding: 25px;
  }
}

.jRlxgi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  max-width: 100%;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.jwxvkx {
  width: 105px;
}

@media (min-width:767px) {
  .jwxvkx {
      min-width: 112px;
      width: auto;
  }
}

.gqPjDK {
  background-color: rgb(0, 0, 0);
  padding: 3px 10px 1px;
  font-size: 12px;
  line-height: 16px;
  color: rgb(255, 255, 255);
  font-family: 'Trade Gothic Bold Condensed', Arial, sans-serif;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (min-width:767px) {
  .gqPjDK {
      padding: 6px 12px 4px;
      font-size: 14px;
      line-height: 18px;
  }
}

@media (min-width:969px) {
  .gqPjDK {
      font-size: 16px;
      line-height: 18px;
      padding: 8px 18px 5px;
  }
}

.foznWk {
  font-size: 14px;
  line-height: 19px;
  font-family: 'Circular Standard Bold', Arial, sans-serif;
  text-transform: none;
  width: 100%;
  margin: 20px 0;
}

@media (min-width:767px) {
  .foznWk {
      font-size: 16px;
      line-height: 22px;
  }
}

@media (min-width:767px) {
  .foznWk {
      font-size: 18px;
      line-height: 25px;
  }
}

@media (min-width:969px) {
  .foznWk {
      font-size: 20px;
      line-height: 30px;
  }
}

@media (min-width:1140px) {
  .foznWk {
      font-size: 22px;
  }
}

.EhItn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(222, 26, 66);
  padding: 20px;
}

@media (min-width:969px) {
  .EhItn {
      padding: 45px 20px;
  }
}

.dFEmDc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 100%;
  max-width: 1140px;
}

@media (min-width:969px) {
  .dFEmDc {
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      flex-flow: row;
  }
}

.fWOYLD {
  width: 100%;
  height: 1px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-color: rgb(255, 255, 255);
  opacity: 0.6;
  margin: 20px 0;
}

@media (min-width:969px) {
  .fWOYLD {
      width: 1px;
      height: 190px;
      margin: 0 25px;
  }
}

.fOOzzc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.dlVZcF {
  font-size: 20px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

@media (min-width:360px) {
  .dlVZcF {
      font-size: 24px;
      line-height: 32px;
  }
}

@media (min-width:767px) {
  .dlVZcF {
      font-size: 26px;
  }
}

@media (min-width:969px) {
  .dlVZcF {
      font-size: 28px;
  }
}

@media (min-width:1140px) {
  .dlVZcF {
      font-size: 30px;
  }
}

.VrMPb {
  font-family: 'Playfair Display Regular Italic', Times, serif;
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

@media (min-width:360px) {
  .VrMPb {
      font-size: 16px;
      line-height: 20px;
  }
}

@media (min-width:767px) {
  .VrMPb {
      font-size: 18px;
      line-height: 24px;
  }
}

@media (min-width:1140px) {
  .VrMPb {
      font-size: 20px;
  }
}

.hITilY {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 10px;
}

.gUQvyl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Circular Standard Bold', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: rgb(255, 255, 255);
  margin: 7px 0;
}

.gUQvyl:last-child {
  margin-bottom: 0;
}

@media (min-width:969px) {
  .gUQvyl {
      font-size: 16px;
      line-height: 22px;
  }
}

.bSsJHl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: baseline;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-family: 'Trade Gothic Bold Condensed', Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 12px 25px 8px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
}

@media (min-width:767px) {
  .bSsJHl {
      font-size: 16px;
      padding: 13px 25px 10px;
  }
}

@media (min-width:1140px) {
  .bSsJHl {
      font-size: 18px;
  }
}

@media (min-width:767px) {
  .bSsJHl {
      margin-top: 15px;
  }
}

@media (min-width:969px) {
  .bSsJHl {
      margin-top: 25px;
  }
}

.bSsJHl:hover,
.bSsJHl:focus {
  -webkit-text-decoration: none;
  text-decoration: none;
}