{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE >= 11"
          ]
        },
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@loadable/babel-plugin",
    "@babel/plugin-proposal-class-properties",
    [
      "transform-imports",
      {
        "react-router-dom": {
          "transform": "react-router-dom/${member}",
          "preventFullImport": true
        },
        "@fortawesome/free-solid-svg-icons": {
          "transform": "@fortawesome/free-solid-svg-icons/${member}",
          "skipDefaultConversion": true
        },
        "@fortawesome/free-brands-svg-icons": {
          "transform": "@fortawesome/free-brands-svg-icons/${member}",
          "skipDefaultConversion": true
        },
        "@fortawesome/free-regular-svg-icons": {
          "transform": "@fortawesome/free-regular-svg-icons/${member}",
          "skipDefaultConversion": true
        }
      }
    ],
    [
      "transform-es2015-modules-commonjs"
    ],
    [
      "babel-plugin-styled-components",
      {
        "pure": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "Client": "./client",
          "Shared": "./shared",
        }
      }
    ]
  ]
}