{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE >= 11"
          ]
        },
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@loadable/babel-plugin",
    "@babel/plugin-proposal-class-properties",
    [
      "transform-es2015-modules-commonjs"
    ],
    [
      "babel-plugin-styled-components",
      {
        "pure": true,
        "displayName": false
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "Client": "./client",
          "Shared": "./shared",
        }
      }
    ]
  ]
}