{
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "max-len": [
      1,
      120,
      2,
      {
        "ignoreComments": true
      }
    ],
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "peerDependencies": true,
        "devDependencies": true
      }
    ],
    "import/no-default-export": 2,
    "import/prefer-default-export": 0,
    "react/prop-types": 0,
    "react/no-danger": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "security/detect-object-injection": 0,
    "security/detect-non-literal-fs-filename": 0,
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2,
    "global-require": 0,
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "i18next",
            "message": "Please use Shared/i18n instead."
          }
        ]
      }
    ]
  },
  "extends": [
    "plugin:security/recommended",
    "airbnb",
    "plugin:import/errors",
    "plugin:import/warnings",
    "eslint-config-prettier"
  ],
  "plugins": ["jsx-a11y", "flowtype", "security", "import", "prettier"],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "env": {
    "jest": true,
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "expect": true
  }
}
