{
  parser: "babel-eslint",
  "rules": {
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "comma-dangle": ["error", "never"],
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": ["error", {"peerDependencies": true, "devDependencies": true}],
    "import/prefer-default-export": 0,
    "react/prop-types": 0,
    "react/no-danger": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0
  },
  "extends": "airbnb",
  "plugins": [
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
